
.dev{
  border: 2px solid white;
  padding: 3vw;
  width: 80%;
}

.dev h2{
  margin-bottom: 2vh;
}

.dev ul{
  text-align: left;
}

.dev__line{
	height: 10px;
	width: 50vw;
	background-color: blue;
	margin-top: 20vh;
}