
.dev{
  border: 2px solid white;
  padding: 3vw;
  width: 80%;
}

.dev h2{
  margin-bottom: 2vh;
}

.dev ul{
  text-align: left;
}

.dev__line{
	height: 3px;
	width: 50%;
	background-color: white;
	margin-top: 10vh;
}