
@keyframes rotate-wheel {
  50% {transform: translateY(0);}
  100% {transform: translateY(10vw);}
  }
  
@keyframes rotate-wheels {
	0% {transform: translateY(-10vw);}
  100% {transform: translateY(0);}
  }

.wheel_section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.wheel{
  border: 3px solid royalblue;
  margin-right: 5vw;
  overflow: hidden;
  background-color: white;
  width: 40vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel_text{
  display: block;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6vw;
  transform: translateY(-10vw);
}

.wheel_text_enabled{
  animation: rotate-wheel 0.2s linear;
}

.wheel_text_center{
	display: block;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6vw;
  animation: rotate-wheels 2s linear forwards!important;
}

.wheel_button{
  border-radius: 50%;
  background-color: red;
  height: 15vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-size: 3.5vw;
  font-weight: bold;
}
