
.wheel_section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  
}

.wheel{
  border: 3px solid royalblue;
  margin-right: 10vw;
  overflow: auto;
  background-color: white;
  width: 40vw;
}

.wheel_text{
  display: block;
  padding: 5vw 10vw;
  color: black;
}

.wheel_button{
  border-radius: 50%;
  background-color: red;
  height: 15vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-size: 5vw;
}
