body{
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

.container{
  width: 50vw;
  margin: auto;
}

.container h1{
  border: 2px solid white;
  border-radius: 100px;
}

.container img{
  height: 30vh;
}
