
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1{
  border: 2px solid white;
  border-radius: 100px;
  padding: 2vw 8vw;
  margin-top: 5vh;
}

.container img{
  height: 25vh;
  margin-top: 10vh;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

